In [27]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [28]:
df=pd.read_csv('car_data.csv')
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [29]:
inputs=df.drop(['Car_Name','Owner','Seller_Type'],axis='columns') 
target=df.Selling_Price
inputs

     Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type Transmission
0    2014           3.35           5.59       27000    Petrol       Manual
1    2013           4.75           9.54       43000    Diesel       Manual
2    2017           7.25           9.85        6900    Petrol       Manual
3    2011           2.85           4.15        5200    Petrol       Manual
4    2014           4.60           6.87       42450    Diesel       Manual
..    ...            ...            ...         ...       ...          ...
296  2016           9.50          11.60       33988    Diesel       Manual
297  2015           4.00           5.90       60000    Petrol       Manual
298  2009           3.35          11.00       87934    Petrol       Manual
299  2017          11.50          12.50        9000    Diesel       Manual
300  2016           5.30           5.90        5464    Petrol       Manual

[301 rows x 6 columns]

In [30]:
from sklearn.preprocessing import LabelEncoder
Numerics=LabelEncoder()

In [31]:
inputs['Fuel_Type_n']=Numerics.fit_transform(inputs['Fuel_Type'])
inputs['Transmission_n']=Numerics.fit_transform(inputs['Transmission'])
inputs

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Transmission,Fuel_Type_n,Transmission_n
0,2014,3.35,5.59,27000,Petrol,Manual,2,1
1,2013,4.75,9.54,43000,Diesel,Manual,1,1
2,2017,7.25,9.85,6900,Petrol,Manual,2,1
3,2011,2.85,4.15,5200,Petrol,Manual,2,1
4,2014,4.60,6.87,42450,Diesel,Manual,1,1
...,...,...,...,...,...,...,...,...
296,2016,9.50,11.60,33988,Diesel,Manual,1,1
297,2015,4.00,5.90,60000,Petrol,Manual,2,1
298,2009,3.35,11.00,87934,Petrol,Manual,2,1
299,2017,11.50,12.50,9000,Diesel,Manual,1,1
300,2016,5.30,5.90,5464,Petrol,Manual,2,1

In [32]:
inputs_n=inputs.drop(['Fuel_Type','Transmission','Selling_Price'],axis='columns') 
inputs_n

     Year  Present_Price  Kms_Driven  Fuel_Type_n  Transmission_n
0    2014           5.59       27000            2               1
1    2013           9.54       43000            1               1
2    2017           9.85        6900            2               1
3    2011           4.15        5200            2               1
4    2014           6.87       42450            1               1
..    ...            ...         ...          ...             ...
296  2016          11.60       33988            1               1
297  2015           5.90       60000            2               1
298  2009          11.00       87934            2               1
299  2017          12.50        9000            1               1
300  2016           5.90        5464            2               1

[301 rows x 5 columns]

In [33]:
model=linear_model.LinearRegression()

In [34]:
model.fit(inputs_n,target)

LinearRegression()

In [35]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [36]:
X_train, X_test, y_train, y_test = train_test_split(inputs_n, target, test_size=0.2, random_state=42)

In [37]:
y_pred = model.predict(X_test)

In [38]:
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [39]:
# Print the metrics
print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("R-squared (R^2):", r2)

Mean Absolute Error (MAE): 1.2569775565081098
Mean Squared Error (MSE): 3.2569945714837814
R-squared (R^2): 0.8586102918892746

In [40]:
pred=model.predict([[2013,9.54,430000,1,1]])
pred

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([4.18281815])